@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/FontsFree-Net-Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quicksand';
}

:root {
    --bg-color: #091b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #4A90E2;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s ease;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 30px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
}

#vanane {
    font-size: 30px;
    font-family: "Quicksand";
    color: var(--main-color);
    font-weight: 700;
}

#biznet {
    font-size: 30px;
    font-family: "Quicksand";
    color: var(--text-color);
    font-weight: 700;
}

.navbar a {
    font-size: 17px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    font-weight: 700;
}

.menu i {
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    min-height: 100vh;
    padding: 10rem 9% 5rem;
    display: flex;
    align-items: center;
    background: url(../images/banner/bghome.PNG) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 40rem;
    z-index: 1;
}

.home-content h1 {
    font-family: "poppins";
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.3px var(--main-color);
}

.home-content p {
    font-size: 17px;
    margin: 20px 0 40px;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 25rem;
    height: 4.5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 80%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 1.5rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 18px;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--text-color);
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: 0.6;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: var(--second-bg-color);
    padding-bottom: 5rem;
}

.heading {
    font-size: 3rem;
    font-family: "poppins";
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
    font-family: "poppins";
}

.about-img {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 0.3rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--second-bg-color);
    border-bottom: 0.2rem solid var(--second-bg-color);
    border-left: 0.2rem solid var(--main-color);
    border-right: 0.2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.work .work-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.work-row .work-column {
    flex: 2 2 20rem;
}

.work-column .title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 1.5rem 2rem;
}

.work-column .work-box {
    border-left: 0.2rem solid var(--main-color);
}

.work-box .work-content {
    position: relative;
    border-radius: 10px;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.work-box .work-content:hover {
    box-shadow: 10px 10px 55px var(--main-color);
    transform: scale(1.05);
}

.work-box .work-content:active {
    transform: scale(1);
}

.work-box .work-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -44px;
    width: 1.3rem;
    height: 1.3rem;
    background: var(--main-color);
    border-radius: 50%;
}

.work-content .content {
    position: relative;
    padding: 1rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 12px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.work-content .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.work-content .content:hover::before {
    width: 100%;
}

.work-content .content .work-qty {
    font-size: 18px;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.work-content .content .work-qty i {
    padding-right: 0.5rem;
}

.work-content .content h3 {
    font-size: 22px;
    font-weight: 700;
}

.work-content .content p {
    font-size: 15px;
    padding-top: 0.5rem;
}

.contact {
    background: var(--second-bg-color);
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: 0.5rem 0;
    transition: 0.5s ease;
}

.contact form .input-box .input-field:hover,
.textarea-field:hover {
    box-shadow: 10px 10px 55px var(--main-color);
    border-radius: 10px;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 14px;
    font-size: 15px;
    color: var(--text-color);
    background: transparent;
    border-radius: 10px;
    border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    border-radius: 10px;
    z-index: -1;
    transition: 0.5s;
}

.contact form .input-box .input-field input:focus,
.contact form .textarea-field textarea:focus {
    outline: none;
}


.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
    margin-bottom: 20px;
    z-index: 1;
    transition: 0.5s ease;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.contact form .btn-box.btns .btn::before {
    background: var(--second-bg-color);
}

/* Footer */
footer {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: auto;
    gap: 250px;
}

/* Footer Left Section */
.footer-left {
    flex: 1;
    min-width: 250px;
}

.footer-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.footer-left h2 span {
    color: #ffffff;
}

.footer-left p {
    font-size: 14px;
    line-height: 1.8;
    color: #ddd;
}

/* Footer Center Section */
.footer-center {
    flex: 1;
    min-width: 200px;
}

.footer-center h4 {
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.footer-center .social-icons {
    display: flex;
    gap: 20px;
}

.footer-center .social-icons a {
    color: #ccc;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-center .social-icons a:hover {
    color: var(--main-color);
}

.footer-center p {
    margin-top: 15px;
    font-size: 14px;
    color: #ddd;
}

.footer-center p a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-center p a:hover {
    text-decoration: underline;
}

/* Footer Right Section */
/* .footer-center {
    flex: 1;
    min-width: 200px;
}

.footer-center h4 {
    font-size: 18px;
    color: #E91E63;
    margin-bottom: 10px;
}

.footer-center ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li {
    margin: 8px 0;
}

.footer-center ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

.footer-center ul li a:hover {
    color: #E91E63;
} */

.footer-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}

.footer-icon a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.footer-icon a:hover::before {
    width: 100%;
}

.footer-icon a i {
    position: absolute;
    font-size: 25px;
    color: var(--bg-color);
    transition: 0.5s;
}

.footer-icon a:hover i {
    color: var(--main-color);
}

/* Footer Bottom Section */
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        margin-bottom: 20px;
    }
}
/* Footer */